body {
    font: 400 15px Tahoma; /*Familia sans-serif*/
    line-height: 1.8;
    font-size: large;
    color: #fff;
    margin :0px 0px;
    border: 0px;
    background-image: url(multimedia/nubes.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: grey;
}

section{
    padding: 20px;
}

header{
    background-color: #151518;
    opacity: .8;
    color: #fff;
    margin: 0px;
}

header a:link{
    color: #fff;
    text-decoration: none;
    border-bottom:none;
}

header a:visited {
    color: #fff;
    text-decoration: none;
    border-bottom:none;
}

header ul{
    text-align: center;
    list-style-type: none;
    color: #fff;
    background-color: #151518;
}

header ul li{
    display: inline;
    margin: 10px;
}
header h1{
    background-color: #151518;
    color: #fff;
}
footer{
    background-color: #151518;
    opacity: .9;
    color: #fff;
    margin: 0px;
}

footer ul{
    color: #fff;
    background-color: #151518;
}
footer ul li{
    display: inline;
    margin: 10px;
    font-size: small;
}
footer h3{
    background-color: #151518;
    color: #fff;
    text-align: left;

}

h1 {
    text-transform: uppercase;
    padding: 10px 25px;
    text-align: center;
    font-size: 3em;
    letter-spacing: 2em;
    border-radius: 30px;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 0.7em;
}
h4{
    font-size: 0.6em;
}
h5{
    font-size: 0.5em;
}
h6{
    font-size: 0.4em;
}
h1,h2,h3,h4,h5,h6{
        font-family: Verdana, Geneva, Tahoma, sans-serif; /*familia sans-serif */
        font-weight: bold;
        text-transform: uppercase;
        color: #FFFFD9;
        background-color: #2C2A33;
        padding: 10px 10px 10px;
        text-align: center;
}
h1,h3,h5{
    font-stretch: expanded;
}
h2,h4,h6{
    font-style: italic; 
}
p,ul,td{
    font-family: serif; /*familia serif*/
    font-size: 1.2em;
}
p{
    text-align: justify;
    text-justify: auto;
}
p::first-letter{
    font-size: 1.3em;
}
p,ul,table,blockquote{
    color: #fff;
}
a:visited{
    color: aqua;
    border-bottom: none;
    text-decoration-line: line-through;
}
a:link{
    color :seashell;
    border-bottom:1px dotted #9999CC;
    text-decoration:none;
}
section > table{
    background-color: #2C2A33;
    opacity: 0.82;
}
table{
    border-collapse: separate;
    border-spacing: 10px 10px;
    margin: auto;
}
img{
    margin: 20px;
}
img.lsp{
    float: left;
}

img.tony{
    float: right;
}
p.tony{
    clear: right;
}
img.chase{
    float: left;
}
p.chase{
    clear: left;
}
img.rodaje{
    float: left;
}
img.janice{
    float: right;
}
img.lsp2{
    float: left;
}
img.torres{
    float: right;
}

section.referencias h3{
    text-align: left;
    background-color: #151518;
}
section.referencias{
    background-color: #151518;
    margin-bottom: 20px;
    opacity: 0.9;
}
